@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

h2 {
  font-family: 'Abril Fatface', cursive;
  text-transform: lowercase;
}

.template {
  visibility: hidden;
}

.student {
  border: 1px solid #ddd;
  padding: 0.75rem 1.25rem;
  height: 4rem;
  transition: 0.25s;
}

.student + .student {
  border-top: none;
}

span.student-name {
  line-height: 40px;
  white-space: nowrap;
  
}

.actions {
  float: right;
  margin-bottom: 0;
}

.actions .button {
  padding: 0.5em 0.69em 0.6em;
  font-size: 1.2rem;
}

.actions .button:hover {
  transform: scale(1.1);
}

.promoted {
  background-color: #FFA807;
  border-color: #FFC656;
}

.student:first-child button.move-up,
.student:nth-last-child(2) button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}

[contendeditable]:hover {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 2px;
}

[contenteditable]:focus {
  outline-width: 5px;
}